/*
font-family: 'Cormorant Garamond', Serif;
font-size: 55px;
font-family: 'Fira Sans', Sans-Serif;
font-size: 15px;
*/


* 

{
	box-sizing: border-box;
	
}

body {
	width: 50%;
	font-family: 'comic sans ms', sans-serif;
	font-size: 20px;
	font-weight: bold;

		
}

h1, h2 {
	text-shadow: 25px 25px;
	text-align: left;
	font-family: 'comic sans ms', Sans-Serif ;
	font-weight: bold;
	
	
}

h1 {
	text-shadow: 25px 10px 25px red;

	text-align: right;

	font-size: 90px;
	margin: 0;
	writing-mode: horizontal-rl;
text-orientation: mixed;
}

h2 {
	text-shadow: 25px 10px 25px red;

	font-size: 25px;
	text-align: left
	
}

h3 {
	text-shadow: 25px 10px 25px rgba(255, 0, 0, 0.719);

	writing-mode: vertical-rl;
text-orientation: mixed;
	font-size: 25px;
	text-align: right
}

h4 {
	text-shadow: 25px 10px 25px rgb(255, 102, 0);
	writing-mode: horizontal-rl;
	text-orientation: mixed;
	font-size: 25px;
	text-align: right
}

h5 {
	text-shadow: 25px 10px 25px rgb(81, 255, 0);

	writing-mode: vertical-rl;
text-orientation: mixed;
	font-size: 25px;
	text-align: left
}

h6 {
	text-shadow: 25px 10px 25px rgb(0, 162, 255);

	font-size: 30px;
	text-align: right

}

p {
	line-height: 25px;
}
p1 {
	line-height: 325px;
	text-align: right;

}

main {

	margin: auto;
}