@font-face {
  src: url(font/FredokaOne-Regular.ttf);
  font-family: Fred; 
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.grid {
  display: flex;
}

.grid div {
  flex: 1;
  height: 1500px;
  background-color: #C0FDFF; 
}
h1 {
  font-family: 'Fred';
	font-size: 250px;
	margin-top: 90px ;
  margin-left: 190px ;
  color: rgb(245, 205, 255);
}


.grid .one {
  background-color: rgb(222, 170, 255);
  color: rgba(0, 1, 43);
  font-size: 150px;
}

.grid .two {
  background-color: rgb(205, 180, 219);
}

.grid .three {
  background-color: rgba(255, 200, 221);
}

.grid .four {
  background-color: rgba(255, 175, 204);
}

.parent {
  width: 80%;
  margin: auto;
  height: 600px;
  position: absolute;
}

.parent .one {
  position: fixed;
  top:1000;
  left: 0;
  background-color: rgba(189, 224, 254);
  width: 3050px;
  height: 1000px;
}

.parent .two {
  position: fixed;
  font-family: 'Fred';
  text-orientation: vertical-rl;
  font-style: bold;
  top: 90px;
  left: 190px;
  color: rgb(255, 255, 255);
  font-size: 200px;
}


